<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Assets/css")
    @Scripts.Render("~/bundles/modernizr", "~/Assets/moment")
</head>
<body class="theme_d">
    <header class="navbar navbar-fixed-top" role="banner">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="dashboard.html" class="navbar-brand"><img src="/assets/img/blank.gif" alt="Logo"></a>
            </div>
            <ul class="top_links">
                <li>
                    <a href="tasks_summary.html"><span>23</span>未读消息</a>
                </li>
                <li>
                    <a href="mail_inbox.html"><span>8</span>未读邮件</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="user_menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="navbar_el_icon ion-person"></span> <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="user_profile.html">个人中心</a></li>
                        <li><a href="mail_inbox.html">我的消息</a></li>
                        <li class="divider"></li>
                        <li><a href="login_page.html">退出</a></li>
                    </ul>
                </li>
                <li><a href="javascript:void(0)" class="slidebar-toggle"><span class="navbar_el_icon ion-navicon-round"></span></a></li>
            </ul>
        </div>
    </header>

    <nav id="side_nav">
        <ul>
            <li>
                <a href="/Administration/home/index">
                    <span class="ion-speedometer"></span>
                    <span class="nav_title">管理中心</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="label label-danger">32</span>
                    <span class="ion-clipboard"></span>
                    <span class="nav_title">影片管理</span>
                </a>
                <div class="sub_panel">
                    <div class="side_inner">
                        <h4 class="panel_heading panel_heading_first">分类管理</h4>
                        <ul>
                            <li>@Html.ActionLink("分类列表", "Index", "UserManager")</li>
                            <li>@Html.ActionLink("注册分类", "Index", "UserManager")</li>

                        </ul>
                        <h4 class="panel_heading">类型管理</h4>
                        <ul>
                            <li>@Html.ActionLink("类型列表", "Index", "UserManager")</li>
                            <li>@Html.ActionLink("注册类型", "Index", "UserManager")</li>
                        </ul>
                        <h4 class="panel_heading">演员管理</h4>
                        <ul>
                            <li>@Html.ActionLink("演员列表", "Index", "UserManager")</li>
                            <li>@Html.ActionLink("注册演员", "Index", "UserManager")</li>
                        </ul>
                        <h4 class="panel_heading">影片管理</h4>
                        <ul>
                            <li>@Html.ActionLink("影片列表", "Index", "Video")</li>
                            <li>@Html.ActionLink("封面列表", "Index", "UserManager")</li>
                            <li>@Html.ActionLink("注册影片", "Index", "UserManager")</li>
                            
                        </ul>

                        <div class="panel_section">
                            <button class="btn btn-primary">添加影片</button>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <a href="#">
                    <span class="ion-paper-airplane"></span>
                    <span class="nav_title">会员管理</span>
                </a>
                <div class="sub_panel">
                    <div class="side_inner">
                        <h4 class="panel_heading">会员管理</h4>
                        <ul>
                            <li>@Html.ActionLink("会员列表", "Index", "UserManager")</li>
                            <li>@Html.ActionLink("会员审核", "Index", "UserManager")</li>
                        </ul>
                        <h4 class="panel_heading">会员操作管理</h4>
                        <ul>
                            <li>@Html.ActionLink("点播历史记录", "Index", "UserManager")</li>
                            <li>@Html.ActionLink("收藏历史记录", "Index", "UserManager")</li>
                            <li>@Html.ActionLink("搜索历史记录", "Index", "UserManager")</li>
                            <li>@Html.ActionLink("影片评论记录", "Index", "UserManager")</li>
                        </ul>
                        <div class="panel_section">
                            <button class="btn btn-success btn-sm">New Campaign</button>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <a href="#">
                    <span class="ion-bag"></span>
                    <span class="nav_title">浏量管理</span>
                </a>
                <div class="sub_panel">
                    <div class="side_inner">
                        <h4 class="panel_heading">帐号管理</h4>
                        <ul>
                            <li>@Html.ActionLink("CNZZ帐号配置", "Index", "UserManager")</li>
                        </ul>
                        <h4 class="panel_heading">流量查询</h4>
                        <ul>
                            <li>@Html.ActionLink("来源查询", "Index", "UserManager")</li>
                            <li>@Html.ActionLink("流量查询", "Index", "UserManager")</li>
                            <li>@Html.ActionLink("链接查询", "Index", "UserManager")</li>
                        </ul>
                        
                    </div>
                </div>
            </li>
            <li>
                <a href="#">
                    <span class="label label-success">14</span>
                    <span class="ion-ios7-email-outline"></span>
                    <span class="nav_title">广告管理</span>
                </a><div class="sub_panel">
                    <div class="side_inner">
                        <h4 class="panel_heading panel_heading_first">广告管理</h4>
                        <ul>
                            <li>@Html.ActionLink("广告栏位列表", "Index", "UserManager")</li>
                            <li>@Html.ActionLink("注册广告栏位", "Index", "UserManager")</li>
                            <li>@Html.ActionLink("广告内容管理", "Index", "UserManager")</li>
                            <li>@Html.ActionLink("注册广告", "Index", "UserManager")</li>
                        </ul>
                    </div>
                </div>
            </li>

            <li>
                <a href="#">
                    <span class="ion-ios7-email-outline"></span>
                    <span class="nav_title">个人中心</span>
                </a><div class="sub_panel">
                    <div class="side_inner">
                        <h4 class="panel_heading panel_heading_first">广告管理</h4>
                        <ul>
                            <li>@Html.ActionLink("编辑资料", "Index", "UserManager")</li>
                            <li>@Html.ActionLink("修改密码", "Index", "UserManager")</li>
                            <li>@Html.ActionLink("登陆历史", "Index", "UserManager")</li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <a href="#">
                    <span class="ion-beaker"></span>
                    <span class="nav_title">基础配置</span>
                </a>
                <div class="sub_panel">
                    <div class="side_inner">
                        <h4 class="panel_heading panel_heading_first">管理员管理</h4>
                        <ul>
                            <li>@Html.ActionLink("管理员列表", "Index", "UserManager")</li>
                            <li>@Html.ActionLink("注册管理员", "Index", "UserManager")</li>
                            <li>@Html.ActionLink("权限管理", "Index", "UserManager")</li>
                            <li>@Html.ActionLink("注册权限", "Index", "UserManager")</li>
                        </ul>
                        <h4 class="panel_heading">基础设置</h4>
                        <ul>
                            <li>@Html.ActionLink("站点基本配置", "Index", "UserManager")</li>
                        </ul>
                        <h4 class="panel_heading">SEO设置</h4>
                        <ul>
                            <li>@Html.ActionLink("SEO基本配置", "Index", "UserManager")</li>
                            <li>@Html.ActionLink("Tag管理", "Index", "UserManager")</li>
                        </ul>
                    </div>
                </div>
            </li>

        </ul>
    </nav>

    <div id="main_wrapper">
        <div class="page_content">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
    </div>

    

    @Scripts.Render("~/bundles/jquery", "~/Assets/js")
    @RenderSection("scripts", required: false)
</body>
</html>